<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap		= "http://phonegap.com/ns/1.0"
	id				= "com.ticketmob.ticketapp"
	version 		= "1.0.0">

	<name>LaughStub</name>

	<description>LaughStub's mobile ticket purchase application</description>

	<author href="http://www.ticketmob.com" email="jonah@ticketmob.com">Jonah Fuller</author>

	<icon src="icon.png" />
	<icon src="assets/img/ios/icon.png" width="57" height="57" />
	<icon src="assets/img/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="assets/img/ios/icon-114.png" width="114" height="114" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="handset" />
	<preference name="webviewbounce" value="false" />
	<preference name="stay-in-webview" value="false" />
	
	<gap:splash src="splash.png" />
	<gap:splash src="assets/img/ios/splash.png" width="320" height="480" />
	<gap:splash src="assets/img/ios/splash-retina.png" width="640" height="960" />
	
</widget>
